{% extends 'comic_share/base.html' %}
{% load static %}
{% load blog_tags %}
{% load cache %}
{% block header %}

    <title>error | {{ SITE_DESCRIPTION }}</title>

    <meta name="description" content="{{ SITE_SEO_DESCRIPTION }}"/>
    <meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:title" content="{{ SITE_NAME }}"/>
    <meta property="og:description" content="{{ SITE_DESCRIPTION }}"/>
    <meta property="og:url" content="{{ SITE_BASE_URL }}"/>
    <meta property="og:site_name" content="{{ SITE_NAME }}"/>

    {% endblock %}
    {% block content %}
    <style>
      m1
      {
          font-family:"Times New Roman";
          font-size:100px;
          writing-mode : tb-rl ;
          position:absolute;
          z-index:2;
          left:40%; top:10px
      }

    </style>
<div>
  <div id="myDiv"><h2>使用 AJAX 修改该文本内容</h2></div>
  <button type="button" onclick="loadXMLDoc()">修改内容</button>
  <script type="text/javascript">
    function loadXMLDoc(){
      $.ajax({
        url:""
        // 2. 指定当前请求方式
        type: 'xxx',
        // 3. 提交的数据
        data: ""
        // 4. ajax是异步提交，所以需要给一个回调函数来处理返回的结果
        success:function(data){// data就是异步提交的返回结果
          // 将异步回调函数的结果通过DOM操作渲染到第三个input框中
        }
      })
    }
    </script>

</div>

    <div id="primary" class="site-content">
      <div>
        <form method="get" action="/search/">
          {% csrf_token %}
          <input type="search" placeholder="搜索" required>
          <button type="submit">搜索</button>
        </form>
        </div>
        <div id="content" role="main">

            <header class="archive-header">

                <p class="archive-title">文章归档</p>
            </header><!-- .archive-header -->
            <div>
              <h1> {{error_msg}}</h1>
             </div>
        </div><!-- #content -->
    </div><!-- #primary -->

{% endblock %}
