<div id="content" style="background-color:#EEEEEE;height:200px;width:70%;float:left;">
  搜索image源:



  <form id="formadd">

    <!-- /newGroup/choose/50/newGroup/search/
         /newGroup/choose/50/search/
      -->
    {% csrf_token %}
    <input name="search_content" id="name" type="search" placeholder="搜索" required>
    <button type="submit"  id="formadde" >搜索</button>
    　　
  </form>

  <div id="mainContent">
返回的内容的展示



  </div>
  <div>

    {% for column in columns %}

    <div style="position:relative;">
      <img  id="image" src="{{column.imageLoca}}" class="img-circle" id="my_photo" name="user_face">

      　<div style="position:absolute; z-index:2; left:60%; top:10px ;writing-mode : tb-rl ;"> {{column.textContent}}</div>

    </div>

  </div>
  {% endfor %}

</div><!-- #content -->
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function(){
    $.ajaxSetup({
      data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
    $('#formadde').click(function () {
      var namea=document.getElementById('name');
      namee=namea.value
      alert(namee)
      $.ajax({
        type:"POST",
        data: {'input':namee},
        url: "{% url 'newGroup:search' %}", //后台处理函数的url
        cache: false,
        dataType: "html",
        success: function(result){
          document.getElementById('mainContent').innerHTML=result;

          $("#mainContent").html(result);

        },
        error: function(){
          alert("false");
        }
      });
        return false;
    });

  });

</script>
