<div id="content" style="background-color:#EEEEEE;height:200px;width:70%;float:left;">
  搜索image源:
  <form method="get" action="{% url 'newGroup:search' %}">
    <!-- /newGroup/choose/50/newGroup/search/
         /newGroup/choose/50/search/
      -->
    {% csrf_token %}
    <input name="search_content" type="search" placeholder="搜索" required>
    <button type="submit"  onclick="loadReturn()">搜索</button>

  </form>
  <div>

    {% for column in columns %}

    <div style="position:relative;">
      <img  id="image" src="{{column.imageLoca}}" class="img-circle" id="my_photo" name="user_face">

      　<div style="position:absolute; z-index:2; left:60%; top:10px ;writing-mode : tb-rl ;"> {{column.textContent}}</div>

    </div>

  </div>
  {% endfor %}
</div>
</div><!-- #content -->



</script>
