{% extends 'comic_share/base.html' %}
{% load static %}
{% load blog_tags %}
{% load cache %}
{% block header %}

    <title>game | {{ SITE_DESCRIPTION }}</title>

    <meta name="description" content="{{ SITE_SEO_DESCRIPTION }}"/>
    <meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:title" content="{{ SITE_NAME }}"/>
    <meta property="og:description" content="{{ SITE_DESCRIPTION }}"/>
    <meta property="og:url" content="{{ SITE_BASE_URL }}"/>
    <meta property="og:site_name" content="{{ SITE_NAME }}"/>

    {% endblock %}
    {% block content %}
    <style>
      m1
      {
          font-family:"Times New Roman";
          font-size:100px;
          writing-mode : tb-rl ;
          position:absolute;
          z-index:2;
          left:40%; top:10px
      }

    </style>
    <div id="primary" class="site-content">
        <div id="content" role="main">

            <header class="archive-header">

              <p class="archive-title">目前正在追加的内容:</p>
              <p>网站功能: </p>
              <p>漫画内容: </p>
              <p>其他:</p>
            </header><!-- .archive-header -->
            <div>


            </div>
        </div><!-- #content -->
    </div><!-- #primary -->

{% endblock %}
